* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #0f172a;
    color: #fff;
}

/* layout */
.container {
    display: flex;
}

/* sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #1e293b;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 10px;
}

/* conteúdo */
.content {
    flex: 1;
    padding: 30px;
}

/* header */
header h1 {
    margin-bottom: 20px;
}

/* cards */
.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* inputs */
.inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

/* botão */
button {
    padding: 10px;
    background: #22c55e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

/* lista */
ul {
    list-style: none;
}

li {
    background: #0f172a;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* botões da lista */
li button {
    margin-left: 5px;
}

li button:first-of-type {
    background: #facc15;
    color: black;
}

li button:last-of-type {
    background: #ef4444;
}